@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

//breakpoints
$md1: 1369px;
$md2: 771px;
$md3: 680px;
$md4: 672px;
$md5: 492px;

// colors
$accent: #373af5;
$secondary: #8083a4;
$base_strong: #2c2d76;
$critic: #e5596d;
$input_boreder-color: rgba(128, 131, 164, 0.2);
$input_bgcolor: rgba(128, 131, 164, 0.06);
$white: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: url(../img/bg-up.png) right top / contain no-repeat fixed,
    url(../img/bg-down.png) left bottom/ contain no-repeat fixed;
  background-color: $accent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  padding: 0 10px;
}

.header {
  flex: 0 0 auto;
  padding: 65px 0;

  @media (max-width: $md2) {
    padding: calc(32px + (65 - 32) * ((100vw - 320px) / (771 - 320))) 0;
  }
  &__title {
    max-width: 740px;
    margin: 0 auto;
  }
}

.title {
  color: $white;
  font-weight: 700;
  font-size: 102px;
  line-height: 102px;

  &__hidden-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  &__left {
    text-align: left;
  }
  &__right {
    text-align: right;
  }

  @media (max-width: $md2) {
    max-width: calc(235px + (740 - 235) * ((100vw - 320px) / (771 - 320)));
    font-size: calc(32px + (102 - 32) * ((100vw - 320px) / (771 - 320)));
    line-height: calc(32px + (102 - 32) * ((100vw - 320px) / (771 - 320)));
  }
}

.forecast-weather {
  display: flex;
  gap: 30px;
  justify-content: center;

  @media (max-width: $md1) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $md3) {
    align-items: stretch;
  }
}

.card {
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 54px;
  min-height: 524px;
  padding: 50px 58px 70px;

  background: $white;
  box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;

  @media (max-width: $md3) {
    width: auto;
    max-width: 660px;
  }

  @media (max-width: $md5) {
    padding: 32px 24px 60px;
    min-height: 424px;
    gap: 30px;
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: $base_strong;

    @media (max-width: $md4) {
      text-align: center;
    }
    @media (max-width: $md5) {
      margin-bottom: 24px;
    }
  }

  &__selector-block {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md4) {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      .block--down {
        margin: 0 0 30px 0;
      }
    }
  }

  &__weather-block {
    position: relative;
  }

  &__placeholder--none-active {
    display: none;
  }

  &__left-button {
    width: 12px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: -27px;
    @media (max-width: 660px) {
      display: none;
    }
  }

  &__right-button {
    width: 12px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: -27px;
    @media (max-width: 660px) {
      display: none;
    }
  }

  &__button--invisible {
    display: none;
  }
}

.card__select-city-wrapper {
  width: 100%;
  max-width: 252px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 9px;
    position: absolute;
    right: 17px;
    top: 20px;
    background: url("../img/arrowDown.svg") 0 0 no-repeat;
  }

  &:focus-within:before {
    transform: translateY(-25%) rotate(-180deg);
  }
}

.select-city {
  display: inline-block;
  width: 100%;
  // max-width: 252px;
  height: 48px;
  padding: 0 0 0 16px;
  position: relative;
  // z-index: 2;
  border: 2px solid $input_boreder-color;
  background-color: $input_bgcolor;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  line-height: 24px;
  color: $base_strong;
  // color: $secondary;
  appearance: none;

  &:hover {
    border: 2px solid $secondary;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    border: 2px solid $accent;
  }

  &:invalid {
    color: $secondary;
  }

  & option {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    color: $base_strong;
    // background: #fff;
  }

  & > option:checked {
    color: $secondary;
  }
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
.card__select-date-wrapper {
  width: 100%;
  max-width: 252px;
  height: 48px;

  position: relative;
  background: $input_bgcolor url("../img/icon-date.svg") right 16px top 16px no-repeat;
  // cursor: pointer;

  &::before {
    content: "Select date";
    display: inline-block;
    width: 100%;
    height: 48px;
    border: 2px solid $input_boreder-color;
    background: $input_bgcolor;

    border-radius: 8px;
    padding: 12px 16px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: $secondary;

    // background: url("../img/arrowDown.svg") 0 0 no-repeat;
  }

  &:focus-within:before {
    color: transparent;
  }
  &:hover:before {
    border: 2px solid $secondary;
    cursor: pointer;
  }
}

.select-date {
  display: block;
  width: 100%;
  // max-width: 252px;
  height: 48px;
  padding: 10px 16px;
  position: absolute;
  opacity: 0;
  z-index: 10;

  border: 2px solid $input_boreder-color;
  border-radius: 8px;
  outline: $input_boreder-color;
  background: $input_bgcolor;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: $base_strong;

  &:invalid {
    color: $secondary;
  }

  &:focus {
    border: 2px solid $accent;
    cursor: pointer;
    color: $secondary;
    opacity: 1;
  }
  &:hover {
    border: 2px solid $secondary;
    cursor: pointer;
  }
}

.placeholder {
  text-align: center;

  &__icon {
    width: 160px;
    height: 160px;
    margin-bottom: 24px;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: $secondary;
  }
}

.big-weather-card {
  width: 100%;
  height: 238px;
  background: $accent;
  border: 2px solid $accent;
  box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  padding: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__date {
    font-weight: 700;
    font-size: 16px;
    color: $white;
    @media (max-width: $md2) {
      display: inline-block;
      text-align: left;
    }
  }

  &__img {
    width: 150px;
    height: 150px;
    align-self: center;
  }

  &__temperature {
    font-weight: 700;
    font-size: 32px;
    color: $white;
    align-self: flex-end;
  }
}

.little-weather-card {
  min-width: 171px;
  height: 238px;
  background: $accent;
  border: 2px solid $accent;
  box-shadow: 0 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;

  @media (max-width: 525px) {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__date {
    font-weight: 700;
    font-size: 16px;
    color: $white;
    align-self: flex-start;
  }

  &__img {
    width: 120px;
    height: 120px;
    align-self: center;
  }

  &__temperature {
    font-weight: 700;
    font-size: 32px;
    color: $white;
    align-self: flex-end;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 16px 0;

  &__copyright {
    font-size: 14px;
    line-height: 1;
    color: $white;
  }
}

.card__carousel {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  max-width: 552px;

  @media (max-width: 660px) {
    overflow: auto;
  }
}
